@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

/* Hide default scrollbar (Webkit + Firefox + Edge) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
